.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
  line-height: 22px;
  text-underline-offset: 4px;
  list-style: circle;
}
.header__menu__item:first-child {
  list-style: none;
}
.header__menu__link.active {
  text-decoration: none;
}
.header__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}
.header__logo__image {
  display: block;
  width: 148px;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 24.3px;
  text-underline-offset: 4px;
}
.address_header {
  justify-self: end;
  max-width: 240px;
  word-break: keep-all;
}
.address_footer {
  max-width: 264.57px;
  word-break: normal;
}
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0 0 0 / 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.aligned_text {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}
.center {
  text-align: center;
  text-indent: 0.3em;
}
.right {
  text-align: end;
}
.no_letter_spacing {
  letter-spacing: 0;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cover__description_text {
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.6px;
}

.bet_button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: normal;
  text-transform: uppercase;
  word-spacing: normal;
  cursor: pointer;
}
.lots {
  margin: 180px 24px 0 24px;
}
.lots__heading {
  padding-left: 39px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}
.lots__card__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px 0;
  list-style-type: none;
}
.lots__card__list__item {
  position: relative;
  z-index: 1;
  width: 334px;
  min-height: 596px;
}
.card__link {
  height: 100%;
  text-decoration-line: none;
}
.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}
.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  text-decoration: #fff underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

/*Загружаем изображения для карточек в эту зону*/
.card.type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card.type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card.type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
/*Загружаем изображения для карточек в эту зону*/

.lots__look_more_link {
  padding-left: 39px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 5px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 24px;
  margin: 120px 24px 0 24px;
  padding-top: 35px;
}
.about__column {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}
.about__logo_image {
  display: block;
  width: 148px;
}
.about__title {
  display: flex;
  margin-bottom: 100px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;

  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-family: Raleway, Arial, Helvetica, sans-serif;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin-top: 180px;
  padding: 0px 50px 82px 50px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-underline-offset: 4px;
  list-style: none;
}
.footer__menu__link {
  align-self: center;
}
.footer_menu__item.active .footer__menu__link {
  text-decoration-line: none;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}
.social__img {
  display: block;
  width: 48px;
}
